nav {
    max-width: 1920px;
}

footer {
    position: relative;
    bottom: 3px;
    width: 100%;
    text-align: center;
}

.carousel img {
    max-width: 1920px !important;
    max-height: 720px !important;
}

.footer_text {
    height: 128px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.footer img {
    opacity: 0.5;
}

.footer img:hover {
    opacity: 1;
}

._resimage {
    width: 100%;
    height: 100%;
    max-width: 250px;
}

@media only screen and (max-width: 500px) {
    ._resimage {
        width: 100%;
        height: 100%;
        max-width: 150px;
        max-height: 70px;
    }
}
#navbar
{
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
}