html,body {

    padding:0;

    margin:0;

}



.navbar {

    padding: 0 10%;

    background-color: #333;

}



.navbar button {

    outline: none;

    border: none;

}



.container-fluid {

    position:relative;

    height:100%;

    min-height:100%;

    width:100%;

    z-index:1000;

    background-color: white;

}



#getoverit {

    position:fixed;

    top: 80px;

    left:0;

    z-index: -99; 

}

.row {

    background-color: white;

    opacity: 0.95;

}



.content {

    padding: 0 10%;

}



footer {

    position: relative;

    bottom: 0px;

    width: 100%;

    text-align: center;

    background-color: white;

}



.footer_text {

    height: 128px;

    display: flex;

    align-items: center;

    font-size: 12px;

}



.footer img {

    opacity: 0.5;

}



.footer img:hover {

    opacity: 1;

}



.przerwa {

    margin: 0;

}



._resimage {

    width: 100%;

    height: 100%;

    max-width: 250px;

}



@media only screen and (max-width: 500px) {

    ._resimage {

        width: 100%;

        height: 100%;

        max-width: 150px;

        max-height: 70px;

    }

}

#navbar

{

    position: fixed !important;

    top: 0 !important;

    width: 100% !important;

}



.row h1 {

    color: #333;

    margin: auto;

}



.row a {

    color: rgb(67, 102, 136);

    text-decoration: none;

}

.row a:hover {

    color: rgb(204, 31, 37);

}

#logobg

{

    width: 250px;

    background-image: radial-gradient( white 10%, #333 70%);

}

.logo___

{

    margin-left: 20%;

}

.margintop{

    margin-top: 30%;

}
#mapka
{
    width: 70%;
}
#mapkarow
{
    width: 100%;
}
input
{
    width: 100%;
    background-color: #e2e2e2;
}
textarea
{
    width: 100%;
    background-color: #e2e2e2;
}